[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "pydantic-ai-slim[openai]>=1.9.1",
    "pydantic-ai[examples]>=1.9.1",
    "supabase>=2.23.0",
]
